DATABASE_URL=
PAYLOAD_SECRET=

# S3 / Cloud Storage Settings
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_ENDPOINT=

NEXT_PUBLIC_SERVER_URL=http://localhost:3000
REVALIDATE_SECRET=
NEXT_PUBLIC_PRIMARY_COLOR=f0876b
NEXT_PUBLIC_SECONDARY_COLOR=c05ec4
NEXT_PUBLIC_ACCENT_COLOR_1=8a38f5
NEXT_PUBLIC_ACCENT_COLOR_2=fbf2e9
NEXT_PUBLIC_ACCENT_COLOR_3=ffffff
NEXT_PUBLIC_BLACK_COLOR=372b34
NEXT_PUBLIC_WHITE_COLOR=fbf2e9
