# AUTH
AUTH_SECRET=""

# DATABASE
DATABASE_URL=""

# AWS S3
AWS_BUCKET_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_PREFIX=""

# UI
NEXT_PUBLIC_PRIMARY_COLOR=""
NEXT_PUBLIC_SECONDARY_COLOR=""
NEXT_PUBLIC_ACCENT_COLOR_1=""
NEXT_PUBLIC_ACCENT_COLOR_2=""
NEXT_PUBLIC_BLACK_COLOR=""
NEXT_PUBLIC_WHITE_COLOR=""
NEXT_PUBLIC_THEME=""

# MAIL
MAIL_PROVIDER=""
MAIL_FROM=""
MAILTRAP_USER=""
MAILTRAP_PASSWORD=""
MAILGUN_USER=""
MAILGUN_PASSWORD=""
BREVO_USER=""
BREVO_PASSWORD=""

# DETAILS
NEXT_PUBLIC_COMPANY_NAME=""
NEXT_PUBLIC_COMPANY_LOGO=""
NEXT_PUBLIC_COMPANY_ICON=""