:root {
  --primary_color: #f36e69;
  --second_color: #a66395;
  --accent_color_1: #da8b9d;
  --accent_color_2: #f6efe9;
  --accent_color_3: #ffffff;
  --black_color: #171515;
  --white_color: #f6efe9;
  --font_text: 'sofia-pro', sans-serif;
  --font_title: 'freightdispcmp-pro', serif;
}
