.icon {
  display: flex;
  align-items: center;
  border-radius: 100%;
  padding: 16px;
  transition: 0.6s all ease;
  background: var(--color-surface_outline_color);

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    background: var(--color-surface_fill_color);
  }
}
